/* NOTE: All sizes use VH and VW relative units 
         in this case asuming a 16:9 resolution. */

:root
{
    /* BEAR COLORS */
    --bearWhite: #f2f2f2;
    --bearBlack: #121212;
    --bearGrey: #7f7f7f;
    --bearCyan: #04848b;

    /* LUA PETSHOP COLORS */
    --luaWhite: #e3f9f9;
    --luaBlack: #404f48;
    --luaGrey: #a0afa0;
    --luaCyan: #05c3d1;
    --luaLightBlue: #5dc6ca;

    /* SITE COLORS */
    --primary: var(--bearWhite);
    --alternative: var(--luaCyan);
    --secondary: var(--bearBlack);
    --accent: var(--bearCyan);
}

html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
    margin: 1vh 0;
    padding: 0;
    height: 98vh;
    max-width: 100vw;
    background: url("../img/Imagotipo-2-cyan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--secondary); /* If background is defined; this needs to be AFTER it. */
    /* background-color: transparent; */
    /* background-size: cover; */
	color: var(--primary);
	font-family: 'MadeTommy', Helvetica, sans-serif;
    font-size: 3vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ////////////// */
/* /// HEADER /// */
/* ////////////// */

header
{
    margin: 0;
    padding: 0;
    height: 10vh;
    /* border: 0.1vh solid var(--primary); */
    /* background-color: var(--secondary); */
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerNav
{
    margin: 0;
    padding: 0 0.25vw;
    gap: 0.25vw;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-weight: bold;
}

#headerNav > div
{
    margin: 0;
    padding: 2.5vh 0;
    width: 14vw;
    height: 7vh;
    border: 0.1vh solid var(--primary);
    border-radius: 1vw;
    background-color: var(--alternative);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#headerNav > div.fixed
{
    background-color: var(--accent);
}

#headerNav > div.actual
{
    border-color: var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}

/* /////////// */
/* /// NAV /// */
/* /////////// */

#nav
{
    margin: 0;
    padding: 0.25vw;
    gap: 0.25vw;
    height: 80vh;
    /* border: 0.1vh solid var(--primary); */

    background-color: transparent;

    display: flex;
    justify-content: space-evenly;
}

#nav > div
{
    margin: 0;
    padding: 2.5vh 0;
    /* border: 0.1vh solid var(--primary);
    background-color: var(--accent); */
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--alternative);
    border-radius: 1vw;
    background-color: #f2f2f2F4;
    color: var(--secondary);
    cursor: pointer;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

/* /////////// */
/* /// APP /// */
/* /////////// */

#app
{
    margin: 0;
    padding: 0;
    height: 80vh;
    width: calc(100vw - 0.2vh);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;
    /* background-color: var(--primary); */
    background-color: #121212A0;
    color: var(--secondary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

    overflow: scroll;
    text-align: center;

    /* Overflow alternative if x-axis scroll is not wanted */
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

#extraApps
{
    margin: 0;
    padding: 2vh 1vw 0 1vw;
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#inputBuscador
{
    margin: 0;
    padding: 2vh 1vw;
    border-radius: 1vw;
    width: 45vw;
}

#botonBuscador, #botonEditorGeneral, #botonBearModal
{
    margin: 0;
    padding: 2vh 1vw;
    border-radius: 1vw;
    border: 0;
    background-color: var(--accent);
    color: var(--primary);
}

/* ///////////// */
/* /// MODAL /// */
/* ///////////// */

#modalGeneral, #modalFoto, #modalEditorLinea /* Acts as a backdrop for the modal */
{
    background-color: #121212A0;
}

#modalGeneral > div > div, #modalFoto > div > div, #modalEditorLinea > div > div
{
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--primary);
}

.modal-title
{
    font-weight: bold;
}

img
{
    border-radius: 1vw;
    max-width: 100%;
    height: auto;
}

/* ///////////////// */
/* /// APP TABLE /// */
/* ///////////////// */

.container /* Container of an individual app */
{
    margin: 0;
    padding: 2vh 1vw 0 1vw;
    height: 60vh;
    max-width: none;
}

.table-header /* .table-header should be the <theader> element of a table */
{
    background-color: var(--accent);
    color: var(--primary);
}

.table-header > td:first-child
{
    border-radius: 1vw 0 0 0;
}

.table-header > td:last-child
{
    border-radius: 0 1vw 0 0;
}

#table > :nth-child(odd) /* #table should be the <tbody> element of a table */
{
    background-color: var(--primary);
    color: var(--secondary);
}

#table > :nth-child(even)
{
    background-color: var(--alternative);
    color: var(--primary);
}

#table > :last-child > *
{
    border: none; /* Overwriting what Bootstrap does to borders :) */
}

#table > :last-child > :first-child
{
    border-radius: 0 0 0 1vw;
}

#table > :last-child > :last-child
{
    border-radius: 0 0 1vw 0;
}

/* ////////////// */
/* /// FOOTER /// */
/* ////////////// */

footer
{
    margin: 0;
    padding: 2vh 0;
    height: 5vh;
    width: 33vw;
    /* border: 0.1vh solid var(--primary); */
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    /* background-color: var(--secondary); */
    background-color: transparent;
    color: var(--secondary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: center;
    overflow: hidden;
    font-weight: bold;
}

/* ///////////// */
/* /// FONTS /// */
/* ///////////// */

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY BLACK_PERSONAL USE.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY BOLD_PERSONAL USE.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY EXTRABOLD_PERSONAL USE.otf') format('opentype');
    font-weight: 800; /* font-weight: bolder; */
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY LIGHT_PERSONAL USE.otf') format('opentype');
    font-weight: 300; /* font-weight: lighter; */
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY MEDIUM_PERSONAL USE.otf') format('opentype');
    font-weight: 600; /* font-weight: normal; */
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY REGULAR_PERSONAL USE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY THIN_PERSONAL USE.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
