/* NOTE: All sizes use VH and VW relative units 
         in this case asuming a 16:9 resolution. */

:root
{
    /* BEAR COLORS */
    --bearWhite: #f2f2f2;
    --bearBlack: #121212;
    --bearGrey: #7f7f7f;
    --bearCyan: #04848b;

    /* LUA PETSHOP COLORS */
    --luaWhite: #c4dae0;
    --luaBlack: #404f48;
    --luaGrey: #a0afa0;
    --luaCyan: #05c3d1;
    --luaLightBlue: #5dc6ca;

    /* SITE COLORS */
    --primary: var(--luaWhite);
    --alternative: var(--luaCyan);
    --secondary: var(--bearBlack);
    --accent: var(--bearCyan);
}

html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
    margin: 1vh 0;
    padding: 0;
    height: 98vh;
    max-width: 100vw;
    /* background: url("../img/Imagotipo-2-cyan.jpg");
    background-position: center;
    background-repeat: no-repeat; */
    background-color: var(--primary); /* If background is defined; this needs to be AFTER it. */
    /* background-color: transparent; */
    /* background-size: cover; */
	color: var(--primary);
	font-family: 'MadeTommy', Helvetica, sans-serif;
    font-size: 3vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ////////////// */
/* /// HEADER /// */
/* ////////////// */

header
{
    margin: 0;
    padding: 0;
    height: 10vh;
    /* border: 0.1vh solid var(--primary); */
    /* background-color: var(--secondary); */
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerNav
{
    margin: 0;
    padding: 0 0.25vw;
    gap: 0.25vw;
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-weight: bold;
}

#headerNav > div
{
    margin: 0;
    padding: 2.5vh 0;
    width: 14vw;
    height: 7vh;
    border: 0.1vh solid var(--primary);
    border-radius: 1vw;
    background-color: var(--alternative);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#headerNav > div.fixed
{
    background-color: var(--accent);
}

#headerNav > div.actual
{
    border-color: var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}

/* /////////// */
/* /// NAV /// */
/* /////////// */

#nav
{
    margin: 0;
    padding: 0.25vw;
    gap: 0.25vw;
    height: 80vh;
    /* border: 0.1vh solid var(--primary); */

    background-color: transparent;

    display: flex;
    justify-content: space-evenly;
}

#nav > div
{
    margin: 0;
    padding: 2.5vh 0;
    /* border: 0.1vh solid var(--primary);
    background-color: var(--accent); */
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;
    /* background-color: #f2f2f2F4; */
    background-color: #05c3d1F4;
    color: var(--secondary);
    cursor: pointer;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

#nav > div > img
{
    width: auto;
    height: 30vh;
    filter: url(#color-change);
}

#nav > div > p
{
    color: var(--primary);
    font-size: 8vh;
    font-weight: bold;
}

/* /////////// */
/* /// APP /// */
/* /////////// */

#app
{
    margin: 0;
    padding: 0;
    height: 80vh;
    width: calc(100vw - 0.2vh);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;
    background-color: #121212A0;
    color: var(--secondary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

#extraApps
{
    margin: 0;
    padding: 1vh 1vw;
    /* height: 20vh; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buscador
{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
}

#inputBuscador
{
    margin: 0;
    padding: 1vh 1vw;
    width: 45vw;
    border: 0;
    border-radius: 1vw;

    outline: none;
}

#botonBuscador,
#botonNuevoProducto,
#botonNuevoProveedor,
#botonEditorGeneral,
#botonBearModal
{
    margin: 0;
    padding: 1vh 1vw;
    border-radius: 1vw;
    border: 0;
    background-color: var(--accent);
    color: var(--primary);
}

/* || APP CAJA  */

#appCajaContainer
{
    margin: 0;
    padding: 1vh 1vw;
    height: 100%;
    width: 100%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#appCajaFondos
{
    margin: 0;
    padding: 0;
    flex-grow: 3;

    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#appCajaFondos > div
{
    margin: 0;
    padding: 1vh 1vw;
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 1vw;
    width: 25%;
}

#appCajaContainer > :last-child
{
    margin: 0;
    padding: 1vh 0;
    height: 20vh;

    display: flex;
    gap: 18vw;
}

#appCajaContainer > :last-child > :first-child
/* #appCajaGastoExcepcional, */
/* #appCajaMetodoPagoExcepcional, */
/* #appCajaSaldoTotal */
{
    margin: 0;
    padding: 0;
    flex-grow: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#appCajaContainer > :last-child > :first-child > div
{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
}

#appCajaContainer > :last-child > :first-child > div :nth-child(odd)
{
    padding: 0 1vw;
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 1vw 0 0 1vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#appCajaContainer > :last-child > :first-child > div :nth-child(even)
{
    padding: 0 1vw;
    border-radius: 0 1vw 1vw 0;
}

#appCajaContainer > :last-child > :first-child > div > div
{
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

#botonCerrarCaja
{
    margin: 0;
    padding: 0;

    background-color: var(--accent);
    color: var(--primary);
    border: 0;
    border-radius: 1vw;
    cursor: pointer;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* || APP VENTA  */

#appVentaContainer
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--accent); */
    background-color: transparent;
    align-self: center;

    display: flex;
    flex-direction: column;
}

#appVentaContainer > :first-child
{
    margin: 0;
    padding: 1vh 1vw;

    display: flex;
    justify-content: space-between;
}

#appVentaContainer > :first-child > :first-child
/* #buscador */
{
    margin: 0;
    padding: 0;
    width: 50vw;
    background-color: var(--primary);
    border: 0;
    border-radius: 1vw;
    position: relative;

    display: flex;
    flex-direction: column;
}

#appVentaContainer > :first-child > :first-child > :first-child
/* #buscadorRow */
{
    margin: 0;
    padding: 1vh 1vw;

    display: flex;
    align-items: center;
    /* gap: 1vw; */
}

#appVentaContainer > :first-child > :first-child > :first-child > :first-child
/* #buscadorInput */
{
    margin: 0;
    padding: 0;
    background-color: transparent;
    flex-grow: 1;
    border: 0;

    outline: none;
}

/* #appVentaContainer > :first-child > :first-child > :first-child > :last-child */
/* #buscadorButton */
/* {
    margin: 0 0 0 1vw;
    padding: 0 1vw;
    background-color: transparent;
    border: 0.1vw solid var(--secondary);
    border-radius: 1vw;
} */

#appVentaContainer > :first-child > :first-child > :last-child
/* RESULTADOS BUSCADOR */
{
    margin: 0;
    padding: 1vh 1vw;
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    border: 0.1vw solid #121212A0;
    border-radius: 1vw;

    top: 7vh;
    position: absolute;
    display: none;
}

#appVentaContainer > :nth-child(2)
/* CARRITO COMPRA */
{
    margin: 0;
    padding: 1vh 1vw;
    /* background-color: var(--alternative); */
}

input.py-2
{
    margin: 0;
    padding: 1vh 1vw;
    border: 0.1vw solid var(--secondary);
    border-radius: 1vw;
    background-color: var(--primary);
    color: var(--secondary);
    line-height: normal;
}

#appVentaContainer > :last-child
/* TOTAL Y FINALIZAR COMPRA */
{
    margin: 0;
    padding: 1vh 1vw;
    /* background-color: var(--alternative); */

    height: 20vh;

    display: flex;
    gap: 2vw;
}

#appVentaContainer > :last-child > :first-child
{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 3;
}

#appVentaContainer > :last-child > :first-child > div
{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

#appVentaContainer > :last-child > :first-child > div > *
/* #appVentaMetodoPago1, */
/* #appVentaMetodoPago2, */
/* #appVentaTotal */
{
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-color: var(--primary);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#appVentaContainer > :last-child > :first-child > div :nth-child(odd)
{
    padding: 1vh 1vw;
    width: 50%;
    background-color: var(--accent);
    color: var(--primary);
    /* border-right: 0.1vw solid var(--secondary); */
    border-radius: 1vw 0 0 1vw;
    line-height: normal;
}

#appVentaContainer > :last-child > :first-child > div :nth-child(even)
{
    width: 50%;
    /* border-left: 0.1vw solid var(--secondary); */
    border-radius: 0 1vw 1vw 0;
}

/* #appVentaFinalizarVenta */
#appVentaContainer > :last-child > :last-child
{
    margin: 0;
    padding: 0;

    background-color: var(--accent);
    color: var(--primary);
    border: 0;
    border-radius: 1vw;
    cursor: pointer;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ///////////// */
/* /// MODAL /// */
/* ///////////// */

.modal /* Acts as a backdrop for the modal */
{
    background-color: #121212A0;
}

.modal > div > div
{
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--primary);
}

.modal-title
{
    font-weight: bold;
}

.modal-photo
{
    border-radius: 1vw;
    max-width: 100%;
    height: auto;
}

/* || MODAL CERRAR CAJA */

#modalCerrarCaja > div.modal-dialog
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalCerrarCaja > div.modal-dialog > div.modal-content
{
    height: 80vh;
    width: 80vw;

    align-self: center;
}

#modalCerrarCaja > div.modal-dialog > div.modal-content > div.modal-header > :last-child
{
    background-color: var(--primary);
    color: var(--secondary);
    border: 0;
    border-radius: 1vw;
    width: 5vw;
}

#modalCerrarCajaDiv
{
    display: flex;
    justify-content: space-between;
}

#modalCerrarCajaDiv > :first-child
{
    margin: 0 1vw;
    padding: 1vh 1vw;
    height: 65vh;
    width: 40vw;
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 1vw;
}

#modalCerrarCajaDiv > :nth-child(2)
{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modalCerrarCajaDiv > :nth-child(2) > :first-child
{
    margin: 0;
    padding: 1vh 1vw;

    height: 50vh;
    width: 30vw;

    background-color: var(--accent);
    color: var(--primary);
    border-radius: 1vw;
}

#modalCerrarCajaDiv > :nth-child(2) > :last-child
{
    background-color: var(--primary);
    color: var(--secondary);
    border: 0;
    border-radius: 1vw;
}

/* ///////////////// */
/* /// APP TABLE /// */
/* ///////////////// */

.container /* Container of an individual app */
{
    margin: 0;
    padding: 2vh 1vw 0 1vw;
    height: 60vh;
    max-width: none;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

.table
{
    margin: 0;
}

.table-header /* .table-header should be the <theader> element of a table */
{
    background-color: var(--accent);
    color: var(--primary);
}

.table-header > td:first-child
{
    border-radius: 1vw 0 0 0;
}

.table-header > td:last-child
{
    border-radius: 0 1vw 0 0;
}

#table > :nth-child(odd) /* #table should be the <tbody> element of a table */
{
    background-color: var(--primary);
    color: var(--secondary);
}

#table > :nth-child(even)
{
    background-color: var(--alternative);
    color: var(--primary);
}

#table > :last-child > *
{
    border: none; /* Overwriting what Bootstrap does to borders :) */
}

#table > :last-child > :first-child
{
    border-radius: 0 0 0 1vw;
}

#table > :last-child > :last-child
{
    border-radius: 0 0 1vw 0;
}

/* /////////////////////// */
/* /// PAGE NAVIGATION /// */
/* /////////////////////// */

#pageNavigation > ul
{
    margin: 0;
}

#pageNavigation > ul > li > a
{
    margin: 1vh 0.5vw;
    padding: 1vh 1vw;
    width: 4vw;
    border: 0.1vh solid var(--primary);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--primary);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#pageNavigation > ul > li > a.fixed
{
    width: 10vw;
    background-color: var(--accent);
}

#pageNavigation > ul > li.disabled > a
{
    background-color: var(--bearGrey);
}

#pageNavigation > ul > li.actual > a
{
    border-color: var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
}

/* ///////////// */
/* /// FORMS /// */
/* ///////////// */

#formCompraContainer
{
    margin: 0;
    padding: 2vh 1vw;
    width: 80vw;
    background-color: var(--alternative);
    color: var(--primary);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;

    align-self: center;
}

#formCompra
{
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
    gap: 2vh;
}

#formCompra > h5
{
    font-weight: 900;
    line-height: normal;
}

#formCompra > :nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formCompra > :nth-child(3)
{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

#formCompra > :nth-child(3) > *
{
    display: flex;
    flex-direction: column;
}

#formCompraProveedor,
#formCompraPaymentMethod > select,
#formCompraPaymentAmmount > input
{
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;
}

#formCompraPaymentAmmount
{
    width: 52vw;
}

#formCompraPaymentMethod,
#formCompra > :nth-child(2) > *,
#formCompraButton
{
    width: 26vw;
}

#formCompraButton
{
    margin: 0;
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;

    align-self: center;
}

/* ////////////// */
/* /// FOOTER /// */
/* ////////////// */

footer
{
    margin: 0;
    padding: 2vh 0;
    height: 5vh;
    width: 33vw;
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--primary);
    color: var(--secondary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: center;
    overflow: hidden;
    font-weight: bold;
}

/* ///////////// */
/* /// FONTS /// */
/* ///////////// */

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY BLACK_PERSONAL USE.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY BOLD_PERSONAL USE.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY EXTRABOLD_PERSONAL USE.otf') format('opentype');
    font-weight: 800; /* font-weight: bolder; */
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY LIGHT_PERSONAL USE.otf') format('opentype');
    font-weight: 300; /* font-weight: lighter; */
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY MEDIUM_PERSONAL USE.otf') format('opentype');
    font-weight: 600; /* font-weight: normal; */
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY REGULAR_PERSONAL USE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'MadeTommy';
    src: url('../font/MADE TOMMY THIN_PERSONAL USE.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/*  || TO-DO LIST

    -   Setear comentarios separadores de bloques de reglas CSS para navegarlo más fácilmente ( https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing )
    -   Analizar si puede ser mejor crear múltiples archivos CSS para simplificar navegación de las reglas CSS (por ejemplo separar reglas de CSS de elementos de una página en específico, ordenadas usando los mismos bloques en todos los archivos CSS para poder comparar rápidamente la sección de la página que estaría ajustando)
    -   Troubleshooting de cómo en algunos navegadores se rompen las dimensiones
*/