/* Border toggle for debugging */
/* body > * { border: 1px solid #f2f2f2; } */

:root
{
    /* BEAR COLORS */
    --bearWhite: #f2f2f2;
    --bearBlack: #121212;
    --bearGrey: #7f7f7f;
    --bearCyan: #04848b;

    /* LUA PETSHOP COLORS */
    --luaWhite: #e3f9f9;
    --luaBlack: #404f48;
    --luaGrey: #a0afa0;
    --luaCyan: #05c2cf;
    --luaLightBlue: #5dc6ca;

    /* SITE COLORS */
    --primary: var(--bearWhite);
    --alternative: var(--bearGrey);
    --secondary: var(--bearBlack);
    --accent: var(--bearCyan);
}

html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
    margin: 1vh 0;
    padding: 0;
    height: 98vh;
    max-width: 100vw;
    background-color: var(--secondary);
	color: var(--primary);
	font-family: Helvetica;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

header
{
    margin: 0;
    padding: 0;
    height: 10vh;
    border: 1px solid var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerNav
{
    margin: 0;
    padding: 0 0.25vw;
    gap: 0.25vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerNav > div
{
    margin: 0;
    padding: 2.5vh 0;
    width: 14vw;
    border: 1px solid var(--primary);
    background-color: var(--accent);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#headerNav > div.fixed
{
    background-color: var(--alternative);
}

#headerNav > div.actual
{
    background-color: var(--primary);
    color: var(--secondary);
}


/* NAV and APP */

#nav
{
    margin: 0;
    padding: 0.25vw;
    gap: 0.25vw;
    height: 80vh;
    border: 1px solid var(--primary);

    display: flex;
    justify-content: space-evenly;
}

#nav > div
{
    margin: 0;
    padding: 2.5vh 0;
    border: 1px solid var(--primary);
    background-color: var(--accent);
    cursor: pointer;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app
{
    margin: 0;
    padding: 0;
    height: 80vh;
    width: calc(100vw - 0.2vh);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;
    background-color: #121212A0;
    color: var(--secondary);
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    overflow: scroll;
    text-align: center;

    /* Overflow alternative if x-axis scroll is not wanted */
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

/* FOOTER */

footer
{
    margin: 0;
    padding: 0;
    height: 5vh;
    border: 1px solid var(--primary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ********************** */

#app > :first-child
{
    margin: 0;
    padding: 1vh 1vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
}

#app > :first-child > :first-child
/* #buscador */
{
    margin: 0;
    padding: 0;
    width: 50vw;
    background-color: var(--primary);
    border: 0;
    border-radius: 1vw;
    position: relative;

    display: flex;
    flex-direction: column;
}

#app > :first-child > :first-child > :first-child
/* #buscadorRow */
{
    margin: 0;
    padding: 1vh 1vw;

    display: flex;
    align-items: center;
    /* gap: 1vw; */
}

#app > :first-child > :first-child > :first-child > :first-child
/* #buscadorInput */
{
    margin: 0;
    padding: 0;
    background-color: transparent;
    flex-grow: 1;
    border: 0;

    outline: none;
}

#app > :first-child > :first-child > :first-child > :last-child
/* #buscadorButton */
{
    margin: 0;
    padding: 0 0 0 1vw;
    background-color: transparent;
    border: 0;
}

#app > :first-child > :first-child > :last-child
/* RESULTADOS BUSCADOR */
{
    margin: 0;
    padding: 1vh 1vw;
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    border: 0.1vw solid #121212A0;
    border-radius: 1vw;

    top: 7vh;
    position: absolute;
    display: none;
}

/* **** */

#app > table
/* CARRITO COMPRA */
{
    margin: 0;
    padding: 2vh 1vw 0 1vw;
    height: 50vh;
    max-width: none;
}

#app > table > thead
{
    margin: 0;
    padding: 0;
    height: 8vh;
    background-color: var(--accent);
    color: var(--primary);
}

#app > table > thead > tr > :first-child
{
    border-radius: 1vw 0 0 0;
}

#app > table > thead > tr > :last-child
{
    border-radius: 0 1vw 0 0;
}

#app > table > tbody
{
    margin: 0;
    padding: 0;
    height: 40vh;
    overflow-y: scroll;
}

#app > table > tbody > :nth-child(odd) /* #table should be the <tbody> element of a table */
{
    background-color: var(--primary);
    color: var(--secondary);
}

#app > table > tbody > :nth-child(even)
{
    background-color: var(--alternative);
    color: var(--primary);
}

#app > table > tbody > :last-child > *
{
    border: none; /* Overwriting what Bootstrap does to borders :) */
}

#app > table > tbody > :last-child > :first-child
{
    border-radius: 0 0 0 1vw;
}

#app > table > tbody > :last-child > :last-child
{
    border-radius: 0 0 1vw 0;
}

/* **** */

#app > :last-child
/* TOTAL Y FINALIZAR COMPRA */
{
    margin: 0;
    padding: 1vh 1vw;
    /* background-color: var(--alternative); */

    height: 20vh;

    display: flex;
    gap: 2vw;
}

#app > :last-child > :first-child
{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 3;
}

#app > :last-child > :first-child > div
{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
}

#app > :last-child > :first-child > div :nth-child(odd)
{
    background-color: var(--accent);
    color: var(--primary);
    /* border-right: 0.1vw solid var(--secondary); */
    border-radius: 1vw 0 0 1vw;
}

#app > :last-child > :first-child > div :nth-child(even)
{
    /* border-left: 0.1vw solid var(--secondary); */
    border-radius: 0 1vw 1vw 0;
}

#app > :last-child > :first-child > div > div
/* #appVentaMetodoPago1, */
/* #appVentaMetodoPago2, */
/* #appVentaTotal */
{
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

#app > :last-child > :last-child
/* #appVentaFinalizarCompra */
{
    margin: 0;
    padding: 0;

    background-color: var(--accent);
    color: var(--primary);
    border: 0;
    border-radius: 1vw;
    cursor: pointer;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}