html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
	background-color: #121212;
	color: #f2f2f2;
	font-family: Helvetica;
	max-width: 100vw;
    height: 98vh;
	margin: 1vh 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer
{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f2f2f2;
}

header
{
    height: 10vh;
}

footer
{
    align-items: center;
    height: 5vh;
}

nav
{
    display: flex;
    padding: 0 0.25vw;
    gap: 0.25vw;
}

.navLanding
{
    justify-content: space-between;
}

.navDiv
{
    text-align: center;
    padding: 2.5vh 0;
    border: 1px solid #f2f2f2;
    width: 14vw;
    background-color: #04848b;
    cursor: pointer;
}

#navLeft
{
    display: flex;
    flex-direction: row;
    gap: 0.25vw;
}

.fixed
{
    background-color: #7f7f7f;
}

#actual
{
    background-color: #e4f8f8;
    color: #070707;
}

#app
{
    height: 80vh;
    border: 1px solid #f2f2f2;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#divLanding
{
    display: flex;
    flex-direction: row;
    
    height: 80vh;
    border: 1px solid #f2f2f2;
    padding: 0.25vw;
    gap: 0.25vw;
}

#divLanding > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #f2f2f2;
    background-color: #04848b;
}