/* Border toggle for debugging */
/* body > * { border: 1px solid #f2f2f2; } */

html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
    margin: 1vh 0;
    padding: 0;
    height: 98vh;
    max-width: 100vw;
    background-color: #121212;
	color: #f2f2f2;
	font-family: Helvetica;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER */

header
{
    margin: 0;
    padding: 0;
    height: 10vh;
    border: 1px solid #f2f2f2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerNav
{
    margin: 0;
    padding: 0 0.25vw;
    gap: 0.25vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#headerNav > div
{
    margin: 0;
    padding: 2.5vh 0;
    width: 14vw;
    border: 1px solid #f2f2f2;
    background-color: #04848b;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#headerNav > div.fixed
{
    background-color: #7f7f7f;
}

#headerNav > div.actual
{
    background-color: #e4f8f8;
    color: #070707;
}


/* NAV and APP */

#nav
{
    margin: 0;
    padding: 0.25vw;
    gap: 0.25vw;
    height: 80vh;
    border: 1px solid #f2f2f2;

    display: flex;
    justify-content: space-evenly;
}

#nav > div
{
    margin: 0;
    padding: 2.5vh 0;
    border: 1px solid #f2f2f2;
    background-color: #04848b;
    cursor: pointer;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app
{
    margin: 0;
    padding: 0;
    height: 80vh;
    border: 1px solid #f2f2f2;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */

footer
{
    margin: 0;
    padding: 0;
    height: 5vh;
    border: 1px solid #f2f2f2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}