<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <header th:fragment="headerNavFull (class1, class2, class3, class4, class5, class6)">
        <nav id="headerNav">
            <div class="fixed">VOLVER</div>
            <div th:classappend="${class1}">PRODUCTOS</div>
            <div th:classappend="${class2}">VENTAS</div>
            <div th:classappend="${class3}">CAJA</div>
            <div class="fixed" th:classappend="${class4}">PROVEEDORES</div>
            <div class="fixed" th:classappend="${class5}">COMPRAS</div>
            <div class="fixed" th:classappend="${class6}">USUARIOS</div>
        </nav>
    </header>
</body>
</html>