<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headBoilerplate">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUA PETSHOP</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{\img\Imagotipo-2.ico}" type="image/x-icon">
    <!-- Bootstrap -->
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <script defer th:src="@{\js\bootstrap.min.js}"></script>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
    <!-- Script -->
    <script defer th:src="@{general.js}"></script>
</head>
<body>
    <footer th:fragment="footer">LUA PETSHOP by july & bear - v0.30.17</footer>
</body>
</html>