<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <!-- MODAL GENERAL -->
    <div th:fragment="modalGeneral" id="modalGeneral" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalGeneral')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">MODAL GENERAL</div>
            </div>
        </div>
    </div>

    <!-- MODAL NUEVO PRODUCTO -->
    <div th:fragment="modalNuevoProducto" id="modalNuevoProducto" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVO PRODUCTO</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalNuevoProducto')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="productoModalNuevoProducto">
                        <!-- <div>
                            <label for="nuevoProductoCodigo">Codigo de barras del producto</label>
                            <input type="text" id="modalNuevoProductoCodigo" name="nuevoProductoCodigo" required>
                        </div> -->

                        <div>
                            <label for="nuevoProductoNombre">Nombre del Producto</label>
                            <input type="text" id="modalNuevoProductoNombre" name="nuevoProductoNombre" placeholder="Dog Chow 15 Kg..." required>
                        </div>

                        <!-- <div>
                            <label for="nuevoProductoDescripcion">Descripción del producto</label>
                            <input type="text" id="modalNuevoProductoDescripcion" name="nuevoProductoDescripcion" placeholder="Comida para perro..." required>
                        </div> -->

                        <div>
                            <label for="nuevoProductoProveedor">Proveedor</label>
                            <select id="modalNuevoProductoProveedor" name="nuevoProductoProveedor" required>
                                <option value="0">SELECCIONAR PROVEEDOR</option>
                                <option value="1">La Sin-rival</option>
                                <option value="2">Per-ros</option>
                                <!-- <option th:each="item: ${proveedores}" th:value="${item.id_proveedor}" th:text="${item.nombre}"></option> -->
                            </select>
                        </div>

                        <div>
                            <!-- Usar atributo readonly si planeo usar JS para dinámicamente mostrar este valor -->

                            <div>
                                <label for="nuevoProductoPrecioCompra">Precio de Compra</label>
                                <input id="modalNuevoProductoPrecioCompra" name="nuevoProductoPrecioCompra" value="0.00" required>
                            </div>
    
                            <div>
                                <label for="nuevoProductoRentabilidad">Rentabilidad (%)</label>
                                <input id="modalNuevoProductoRentabilidad" name="nuevoProductoRentabilidad" value="0.00" required>
                            </div>
    
                            <div>
                                <label for="nuevoProductoGanancia">Ganancia</label>
                                <input id="modalNuevoProductoGanancia" name="nuevoProductoGanancia" value="0.00" required>
                            </div>

                            <div>
                                <label for="nuevoProductoPrecioVenta">Precio de Venta</label>
                                <input id="modalNuevoProductoPrecioVenta" name="nuevoProductoPrecioVenta" value="0.00" required>
                            </div>
                        </div>

                        <div>
                            <!-- <div>
                                <label for="nuevoProductoTipoStock">Tipo de Stock</label>
                                <select id="modalNuevoProductoTipoStock" name="nuevoProductoTipoStock" disabled required>
                                    <option value="default">SELECCIONAR TIPO</option>
                                    <option value="peso">Peso</option>
                                    <option value="unidad">Unidad</option>
                                </select>
                            </div> -->
                            <div>
                                <label for="nuevoProductoCategoria">Categoría</label>
                                <select id="modalNuevoProductoCategoria" name="nuevoProductoCategoria" required>
                                    <option value="0">SELECCIONAR CATEGORIA</option>
                                    <option th:each="item: ${categorias}" th:value="${item.id_categoria}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                            <div>
                                <label for="nuevoProductoStock">Cantidad de Stock</label>
                                <input id="modalNuevoProductoStock" name="nuevoProductoStock" value="0" required>
                            </div>
                        </div>

                        <div>
                            <label for="nuevoProductoImagen">Imagen del Producto</label>
                            <!-- <input type="file" id="modalNuevoProductoImagen" name="nuevoProductoImagen"> -->
                            <button id="modalNuevoProductoImagen" disabled>SUBIR IMAGEN</button>
                            <div>No se ha elegido ningún archivo</div>
                        </div>

                        <input type="hidden" id="modalNuevoProductoId" value="0">

                        <button id="modalNuevoProductoEnviar">Agregar Producto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FOTO -->
    <div th:fragment="modalFoto" id="modalFoto" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">IMAGEN DEL PRODUCTO</h5>
                    <button class="close" type="button" data-dismiss="modal" onclick="ocultarModal('modalFoto')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!-- <div class="modal-body"><img class="modal-photo" th:src="@{\img\Imagotipo-2-cyan.jpg}" alt="logo petshop"></div> -->
                <div class="modal-body"><img id="modalFotoImagen" class="modal-photo"></div>
            </div>
        </div>
    </div>
    
    <!-- MODAL EDITOR LINEA -->
    <div th:fragment="modalEditorLinea" id="modalEditorLinea" class="modal fade" tabindex="-1" role="dialog"style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalEditorLinea')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="productoModalEditorLinea">
                        <!-- <div>
                            <label for="editorLineaCodigo">Codigo de barras del producto</label>
                            <input type="text" id="modalEditorLineaCodigo" name="editorLineaCodigo" required>
                        </div> -->
                        
                        <div>
                            <label for="editorLineaNombre">Nombre del Producto</label>
                            <input type="text" id="modalEditorLineaNombre" name="editorLineaNombre" required>
                        </div>

                        <!-- <div>
                            <label for="editorLineaDescripcion">Descripción del producto</label>
                            <input type="text" id="modalEditorLineaDescripcion" name="editorLineaDescripcion" required>
                        </div> -->

                        <div>
                            <label for="editorLineaProveedor">Proveedor</label>
                            <select id="modalEditorLineaProveedor" name="editorLineaProveedor" required>
                                <option value="0">SELECCIONAR PROVEEDOR</option>
                                <option value="1">La Sin-rival</option>
                                <option value="2">Per-ros</option>
                                <!-- <option th:each="item: ${proveedores}" th:value="${item.id_proveedor}" th:text="${item.nombre}"></option> -->
                            </select>
                        </div>

                        <div>
                            <!-- Usar atributo readonly si planeo usar JS para dinámicamente mostrar este valor -->

                            <div>
                                <label for="editorLineaPrecioCompra">Precio de Compra</label>
                                <input id="modalEditorLineaPrecioCompra" name="editorLineaPrecioCompra" required>
                            </div>
    
                            <div>
                                <label for="editorLineaRentabilidad">Rentabilidad (%)</label>
                                <input id="modalEditorLineaRentabilidad" name="editorLineaRentabilidad" required>
                            </div>
    
                            <div>
                                <label for="editorLineaGanancia">Ganancia</label>
                                <input id="modalEditorLineaGanancia" name="editorLineaGanancia" required>
                            </div>

                            <div>
                                <label for="editorLineaPrecioVenta">Precio de Venta</label>
                                <input id="modalEditorLineaPrecioVenta" name="editorLineaPrecioVenta" value="0.00" required>
                            </div>
                        </div>

                        <div>
                            <!-- <div>
                                <label for="editorLineaTipoStock">Tipo de Stock</label>
                                <select id="modalEditorLineaTipoStock" name="editorLineaTipoStock" disabled required>
                                    <option value="default">SELECCIONAR TIPO</option>
                                    <option value="peso">Peso</option>
                                    <option value="unidad">Unidad</option>
                                </select>
                            </div> -->
                            <div>
                                <label for="editorLineaCategoria">Categoría</label>
                                <select id="modalEditorLineaCategoria" name="editorLineaCategoria" required>
                                    <option value="0">SELECCIONAR CATEGORIA</option>
                                    <option th:each="item: ${categorias}" th:value="${item.id_categoria}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                            <div>
                                <label for="editorLineaStock">Cantidad de Stock</label>
                                <input id="modalEditorLineaStock" name="editorLineaStock" required>
                            </div>
                        </div>

                        <div>
                            <label for="editorLineaImagen">Imagen del Producto</label>
                            <!-- <input type="file" id="modalEditorLineaImagenProducto"> -->
                            <button name="editorLineaImagen" disabled>SUBIR IMAGEN</button>
                            <div id="editorLineaRutaImagen">No se ha elegido ningún archivo</div>
                        </div>

                        <input type="hidden" id="modalEditorLineaId" value="0">

                        <button id="modalEditorLineaEnviar">Agregar Producto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CERRAR CAJA -->
    <div th:fragment="modalCerrarCaja" id="modalCerrarCaja" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CERRAR CAJA DIARIA</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalCerrarCaja')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="modalCerrarCajaDiv" class="modal-body">
                    <div>CAJA EFECTIVO</div>
                    <div>
                        <div>CONTADOR BILLETES</div>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="window.confirm('Estás por finalizar la compra... ¿Estás seguro?')">
                            <span aria-hidden="true">CERRAR CAJA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL COMPRA EXCEPCIONAL -->
    <!-- 
        -   Nota: Esto podría cambiar a movimiento excepcional para evitar crear venta excepcional que podría ser
            lo mismo salvo un campo que estaría precargado.
        -   Nota: Quizás la implementación de este modal cambie dependiendo el feedback futuro.
     -->
     <div th:fragment="modalCompraExcepcional" id="modalCompraExcepcional" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="modalCompraExcepcionalHeader">
                    <h5 class="modal-title">REGISTRAR COMPRA EXCEPCIONAL</h5>
                    <button class="close" type="button" data-dismiss="modal" onclick="ocultarModal('modalCompraExcepcional')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modalCompraExcepcionalBody">
                    <div>
                        <label for="compraExcepcionalFondo">FONDO</label>
                        <select name="compraExcepcionalFondo">
                            <option value="0" selected disabled>SELECCIONAR FONDO</option>
                            <option value="1">BANCO PROVINCIA</option>
                            <option value="2">MERCADO PAGO</option>
                            <option value="3">EFECTIVO</option>
                            <!-- <option th:each="item : ${cuentas}" th:value="${item.id_cuenta}" th:text="${item.nombre}"></option> -->
                        </select>
                    </div>

                    <!--    PREPARADO POR SI CAMBIA LA IMPLEMENTACIÓN DE ESTE MODAL
                    <div>
                        <label for="compraExcepcionalMonto">TIPO MOVIMIENTO</label>
                        <select name="compraExcepcional" required>
                            <option value="0" selected disabled>SELECCIONAR TIPO</option>
                            <option value="1" >INGRESO</option>
                            <option value="2" >GASTO</option>
                        </select>
                    </div>
                     -->
                    
                    <div>
                        <label for="compraExcepcionalMonto">MONTO</label>
                        <input name="compraExcepcionalMonto" placeholder="0.00" required>
                    </div>

                    <div>
                        <label for="compraExcepcionalMotivo">MOTIVO</label>
                        <input name="compraExcepcionalMotivo" placeholder="Compra de un café" required>
                    </div>

                    <div>
                        <button id="compraExcepcionalRegistrar">REGISTRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</body>
</html>