<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <!-- MODAL GENERAL -->
    <div th:fragment="modalGeneral" id="modalGeneral" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalGeneral')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">MODAL GENERAL</div>
            </div>
        </div>
    </div>

    <!-- MODAL NUEVO PRODUCTO -->
    <div th:fragment="modalNuevoProducto" id="modalNuevoProducto" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVO PRODUCTO</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalNuevoProducto')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div>
                            <label for="nombreProducto">Nombre del Producto:</label>
                            <input type="text" id="nombreProducto" name="nombreProducto" required>
                        </div>
                        <div>
                            <label for="descripcionProducto">Descripción del producto:</label>
                            <input type="text" id="descripcionProducto" name="descripcionProducto" required>
                        </div>
                        <div>
                            <label for="precioCompra">Precio de Compra:</label>
                            <input type="number" id="precioCompra" name="precioCompra" required>
                        </div>
                        <div>
                            <label for="porcentajeGanancia">Porcentaje de Ganancia:</label>
                            <input type="number" id="porcentajeGanancia" name="porcentajeGanancia" required>
                        </div>
                        <div>
                            <label for="gananciaProducto">Ganancia:</label>
                            <input type="number" id="gananciaProducto" name="gananciaProducto" required>
                            <!-- readonly si planeo usar JS para dinámicamente mostrar este valor -->
                        </div>
                        <div>
                            <label for="cantidadStock">Cantidad de Stock:</label>
                            <input type="number" id="cantidadStock" name="cantidadStock" required>
                        </div>
                        <div>
                            <label for="imagenProducto">Imagen del Producto:</label>
                            <input type="file" id="imagenProducto" name="imagenProducto">
                        </div>
                        <div>
                            <input type="submit" value="Agregar Producto">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL NUEVO PROVEEDOR -->
    <div th:fragment="modalNuevoProveedor" id="modalNuevoProveedor" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVO PROVEEDOR</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalNuevoProveedor')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div>
                            <label for="idProducto">id_producto_proveedor</label>
                            <input type="text" id="idProducto" name="idProducto" required>
                        </div>
                        <div>
                            <label for="nombreProveedor">nombre_proveedor</label>
                            <input type="text" id="nombreProveedor" name="nombreProveedor" required>
                        </div>
                        <div>
                            <label for="nombreProducto">nombre_producto</label>
                            <input type="text" id="nombreProducto" name="nombreProducto" required>
                        </div>
                        <div>
                            <label for="precioCompra">precio_compra</label>
                            <input type="number" id="precioCompra" name="precioCompra" required>
                        </div>
                        <div>
                            <input type="submit" value="Agregar Proveedor">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FOTO -->
    <div th:fragment="modalFoto" id="modalFoto" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">IMAGEN DEL PRODUCTO</h5>
                    <button class="close" type="button" data-dismiss="modal" onclick="ocultarModal('modalFoto')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><img class="modal-photo" th:src="@{\img\Imagotipo-2-cyan.jpg}" alt="logo petshop"></div>
            </div>
        </div>
    </div>
    
    <!-- MODAL EDITOR LINEA -->
    <div th:fragment="modalEditorLinea" id="modalEditorLinea" class="modal fade" tabindex="-1" role="dialog"style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalEditorLinea')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">MODAL EDITOR LINEA</div>
            </div>
        </div>
    </div>

    <!-- MODAL CERRAR CAJA -->
    <div th:fragment="modalCerrarCaja" id="modalCerrarCaja" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CERRAR CAJA DIARIA</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalCerrarCaja')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="modalCerrarCajaDiv" class="modal-body">
                    <div>CAJA EFECTIVO</div>
                    <div>
                        <div>CONTADOR BILLETES</div>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="window.confirm('Estás por finalizar la compra... ¿Estás seguro?')">
                            <span aria-hidden="true">CERRAR CAJA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>