<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <!-- MODAL GENERAL -->
    <div th:fragment="modalGeneral" id="modalGeneral" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalGeneral')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">MODAL GENERAL</div>
            </div>
        </div>
    </div>

    <!-- MODAL NUEVO PRODUCTO -->
    <div th:fragment="modalNuevoProducto" id="modalNuevoProducto" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVO PRODUCTO</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalNuevoProducto')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="productoModalNuevoProducto">
                        <div>
                            <label for="nombreProducto">Nombre del Producto</label>
                            <input type="text" id="modalNuevoProductoNombreProducto" name="nombreProducto" required>
                        </div>

                        <div>
                            <label for="descripcionProducto">Descripción del producto</label>
                            <input type="text" id="modalNuevoProductoDescripcionProducto" name="descripcionProducto" required>
                        </div>

                        <div>
                            <div>
                                <label for="precioCompra">Precio de Compra</label>
                                <input id="modalNuevoProductoPrecioCompra" name="precioCompra" required>
                            </div>
    
                            <div>
                                <label for="porcentajeGanancia">Porcentaje de Ganancia</label>
                                <input id="modalNuevoProductoPorcentajeGanancia" name="porcentajeGanancia" required>
                            </div>
    
                            <div>
                                <label for="gananciaProducto">Ganancia</label>
                                <input id="modalNuevoProductoGananciaProducto" name="gananciaProducto" required>
                                <!-- readonly si planeo usar JS para dinámicamente mostrar este valor -->
                            </div>
                        </div>

                        <div>
                            <div>
                                <label for="tipoStock">Tipo de Stock</label>
                                <select id="modalNuevoProductoTipoStock" name="cantidadStock" required>
                                    <option value="default">SELECCIONAR TIPO</option>
                                    <option value="peso">Peso</option>
                                    <option value="longitud">Longitud</option>
                                    <option value="volumen">Volumen</option>
                                    <option value="superficie">Superficie</option>
                                </select>
                            </div>
                            <div>
                                <label for="cantidadStock">Cantidad de Stock</label>
                                <input id="modalNuevoProductoCantidadStock" name="cantidadStock" required>
                            </div>
                        </div>

                        <div>
                            <label for="imagenProducto">Imagen del Producto</label>
                            <!-- <input type="file" id="modalNuevoProductoImagenProducto" name="imagenProducto"> -->
                            <button>SUBIR IMAGEN</button>
                            <div>No se ha elegido ningún archivo</div>
                        </div>

                        <button>Agregar Producto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL NUEVO PROVEEDOR -->
    <div th:fragment="modalNuevoProveedor" id="modalNuevoProveedor" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVO PROVEEDOR</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalNuevoProveedor')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="formularioModalNuevoProveedor">
                        <div>
                            <label for="modalNuevoProveedorIdProducto">id_producto_proveedor</label>
                            <input type="text" id="modalNuevoProveedorIdProducto" required>
                        </div>
                        <div>
                            <label for="modalNuevoProveedorNombreProveedor">nombre_proveedor</label>
                            <input type="text" id="modalNuevoProveedorNombreProveedor" placeholder="Distribuidora..." required>
                        </div>
                        <div>
                            <label for="modalNuevoProveedorNombreProducto">nombre_producto</label>
                            <input type="text" id="modalNuevoProveedorNombreProducto" placeholder="Comida para perro..." required>
                        </div>
                        <div>
                            <label for="modalNuevoProveedorPrecioCompra">precio_compra</label>
                            <!-- <input type="number" id="modalNuevoProveedorPrecioCompra" required> -->
                            <!-- Puedo validar manualmente y agregar bindings para subir-bajar el precio -->
                            <input id="modalNuevoProveedorPrecioCompra" min="0" value="0.00" required>
                        </div>
                        <button id="modalNuevoProveedorPrecioCompraButton">Agregar Proveedor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FOTO -->
    <div th:fragment="modalFoto" id="modalFoto" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">IMAGEN DEL PRODUCTO</h5>
                    <button class="close" type="button" data-dismiss="modal" onclick="ocultarModal('modalFoto')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"><img class="modal-photo" th:src="@{\img\Imagotipo-2-cyan.jpg}" alt="logo petshop"></div>
            </div>
        </div>
    </div>
    
    <!-- MODAL EDITOR LINEA -->
    <div th:fragment="modalEditorLinea" id="modalEditorLinea" class="modal fade" tabindex="-1" role="dialog"style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalEditorLinea')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="productoModalEditorLinea">
                        <div>
                            <label for="nombreProducto">Nombre del Producto</label>
                            <input type="text" id="modalEditorLineaNombreProducto" required>
                        </div>

                        <div>
                            <label for="descripcionProducto">Descripción del producto</label>
                            <input type="text" id="modalEditorLineaDescripcionProducto" required>
                        </div>

                        <div>
                            <div>
                                <label for="precioCompra">Precio de Compra</label>
                                <input id="modalEditorLineaPrecioCompra" required>
                            </div>
    
                            <div>
                                <label for="porcentajeGanancia">Porcentaje de Ganancia</label>
                                <input id="modalEditorLineaPorcentajeGanancia" required>
                            </div>
    
                            <div>
                                <label for="gananciaProducto">Ganancia</label>
                                <input id="modalEditorLineaGananciaProducto" required>
                                <!-- readonly si planeo usar JS para dinámicamente mostrar este valor -->
                            </div>
                        </div>

                        <div>
                            <div>
                                <label for="tipoStock">Tipo de Stock</label>
                                <select id="modalEditorLineaTipoStock" required>
                                    <option value="default">SELECCIONAR TIPO</option>
                                    <option value="peso">Peso</option>
                                    <option value="longitud">Longitud</option>
                                    <option value="volumen">Volumen</option>
                                    <option value="superficie">Superficie</option>
                                </select>
                            </div>
                            <div>
                                <label for="cantidadStock">Cantidad de Stock</label>
                                <input id="modalEditorLineaCantidadStock" required>
                            </div>
                        </div>

                        <div>
                            <label for="imagenProducto">Imagen del Producto</label>
                            <!-- <input type="file" id="modalEditorLineaImagenProducto"> -->
                            <button>SUBIR IMAGEN</button>
                            <div>No se ha elegido ningún archivo</div>
                        </div>

                        <button>Agregar Producto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CERRAR CAJA -->
    <div th:fragment="modalCerrarCaja" id="modalCerrarCaja" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CERRAR CAJA DIARIA</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="ocultarModal('modalCerrarCaja')">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="modalCerrarCajaDiv" class="modal-body">
                    <div>CAJA EFECTIVO</div>
                    <div>
                        <div>CONTADOR BILLETES</div>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="window.confirm('Estás por finalizar la compra... ¿Estás seguro?')">
                            <span aria-hidden="true">CERRAR CAJA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>