/* ////////////// */
/* /// || APP /// */
/* ////////////// */

#appCajaContainer
{
    margin: 0;
    padding: 1vh 1vw;
    height: 100%;
    width: 100%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}



/* || FONDOS */

#appCajaFondos
{
    margin: 0;
    padding: 0;
    flex-grow: 3;

    display: flex;
    flex-direction: row;
    gap: 1vw;

    /* overflow-x: scroll;
    overflow-y: auto; */
}

#appCajaFondos > div
{
    margin: 0;
    padding: 2vh 0.5vw;
    /* background-color: var(--accent); */
    background-color: transparent;
    color: var(--primary);
    /* border-color: var(--accent); */
    border-color: var(--primary);
    border-width: 0.5vh 0.5vw;
    border-style: solid;
    border-radius: 1vw;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
}

#appCajaFondos > div > div
{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

#appCajaFondos > div > div > div
{
    margin: 0;
    padding: 0 1vw;
    /* width: 50%; */
    width: 100%;

    background-color: var(--primary);
    color: var(--secondary);

    /* border-radius: 0 1vw 1vw 0; */
    border-radius: 0 0 1vw 1vw;
    border: 0;

    text-align: center;
}

#appCajaFondos > div > div > div:first-child
{
    background-color: var(--accent);
    color: var(--primary);

    /* border-radius: 1vw 0 0 1vw; */
    border-radius: 1vw 1vw 0 0;

    /* text-align: right; */
}

#appCajaFondos > div > div > h2
{
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

#appCajaFondos > div > div > button
{
    margin: 0;
    padding: 0;

    background-color: var(--accent);
    color: var(--primary);
    border: 0;
    border-radius: 1vw;
    cursor: pointer;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}




/* || CONTAINER TOTALES Y CERRAR CAJA */

#appCajaContainer > :last-child
{
    margin: 0;
    padding: 1vh 0;
    height: 20vh;

    display: flex;
    /* gap: 11vw; */
    gap: 30vw;
}

#appCajaContainer > :last-child > :first-child
/* #appCajaGastoExcepcional, */
/* #appCajaMetodoPagoExcepcional, */
/* #appCajaSaldoTotal */
{
    margin: 0;
    padding: 0;
    flex-grow: 3;

    display: flex;
    flex-direction: column;
    
    /* justify-content: space-between; */
    gap: 2vh;
}

#appCajaMovimiento
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;

    background-color: var(--accent);
    color: var(--primary);
    border: 0;
    border-radius: 1vw;
}

#appCajaContainer > :last-child > :first-child > div:last-child
{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
}

#appCajaContainer > :last-child > :first-child > div:last-child :nth-child(odd)
{
    padding: 0 1vw;
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 1vw 0 0 1vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#appCajaContainer > :last-child > :first-child > div:last-child :nth-child(even)
{
    padding: 0 1vw;
    border-radius: 0 1vw 1vw 0;
}

#appCajaContainer > :last-child > :first-child > div > div
{
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;
}

#appCajaContainer > :last-child > :last-child
{
    margin: 0;
    padding: 0;

    color: var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* || CERRAR CAJA */

#botonCerrarCaja
{
    margin: 0;
    padding: 0;

    width: 100%;

    background-color: var(--accent);
    color: var(--primary);
    border: 0;
    border-radius: 1vw;
    cursor: pointer;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/* *********************************************** */



/* //////////////// */
/* /// || MODAL /// */
/* //////////////// */

.modal /* Acts as a backdrop for the modal */
{
    background-color: #121212A0;
}

.modal > div > div
{
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--primary);
}

.modal-title
{
    font-weight: bold;
}
/* *********************************************** */



/* ////////////////////////////// */
/* /// MOVIMIENTO EXCEPCIONAL /// */
/* ////////////////////////////// */

#modalMovimientoExcepcional > div.modal-dialog
{
    max-width: 35vw;
}

#modalMovimientoExcepcionalHeader,
#modalMovimientoExcepcionalBody > div > label
{
    color: var(--bearWhite);
}

#modalMovimientoExcepcionalBody
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#modalMovimientoExcepcionalBody > div
{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#modalMovimientoExcepcionalBody > div:first-child > :first-child
{
    /* TIPO DE MOVIMIENTO */
    align-self: center;
}

#modalMovimientoExcepcionalBody > div:nth-child(2) > :first-child
{
    /* FONDO */
    align-self: center;
}

#modalMovimientoExcepcionalBody > div:nth-child(3) > :first-child
{
    /* MONTO */
    align-self: center;
}

#modalMovimientoExcepcionalBody > div:nth-child(4) > :first-child
{
    /* MOTIVO */
    align-self: center;
}

#modalMovimientoExcepcionalBody > div:last-child > :first-child
{
    align-self: center;
}

#modalMovimientoExcepcionalBody > div:last-child > :first-child
{
    align-self: flex-end;
}

#modalMovimientoExcepcionalBody > div:last-child > button
{
    margin: 0;
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;
}