#appHeader
{
    margin: 0;
    padding: 1vh 1vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#appHeader > div
{
    margin: 0;
    padding: 1vh 1vw;
    width: 25%;
    background-color: var(--luaWhite);
    color: var(--secondary);
    border: 0;
    border-radius: 1vw;
}

#appHeader > div:first-child
{
    /* #appVolver */
    background-color: var(--alternative);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#appHeader > div:first-child:hover
{
    background-color: #f2f2f2AA;
}

#appHeader > div:first-child:active
{
    background-color: var(--accent);
    color: var(--primary);
}


.container
{
    height: 72vh;
}

thead > tr,
thead > tr > td,
thead > tr > td > h5,
tbody > tr,
tbody > tr > td,
tbody > tr > td > h5
{
    margin: 0;
}

thead > tr > td:first-child,
tbody > tr > td:first-child
{
    /* FECHA */
    width: 25%;
}

thead > tr > td:nth-child(2),
tbody > tr > td:nth-child(2)
{
    /* PROVEEDOR */
    width: 25%;
}

thead > tr > td:nth-child(3),
tbody > tr > td:nth-child(3)
{
    /* METODO DE PAGO */
    width: 25%;
}

thead > tr > td:last-child,
tbody > tr > td:last-child
{
    /* TOTAL */
    width: 25%;
}