/* /////////// */
/* /// APP /// */
/* /////////// */

#app
{
    justify-content: space-evenly;
}

#app > div:first-child
{
    margin: 0;
    padding: 2vh 1vw;
    width: 80vw;
    background-color: var(--alternative);
    color: var(--text);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;

    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app > div:first-child > button
{
    /* #compraExcepcional */
    /* #historialCompras */
    margin: 0;
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;

    align-self: center;
}

#app > div:first-child > button:not([disabled]):hover
{
    /* #compraExcepcional */
    /* #historialCompras */
    background-color: #f2f2f2AA;
}

#app > div:first-child > button:not([disabled]):active
{
    /* #compraExcepcional */
    /* #historialCompras */
    background-color: var(--accent);
    color: var(--primary);
}


/* ///////////// */
/* /// FORMS /// */
/* ///////////// */

#formCompraContainer
{
    margin: 0;
    padding: 2vh 1vw;
    width: 80vw;
    background-color: var(--alternative);
    color: var(--text);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;

    align-self: center;
}

#formCompra
{
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
    gap: 2vh;
    color: var(--text);
}

#formCompra > h5
{
    font-size: 3vh;   
    font-weight: 900;
    line-height: normal;
}

#formCompra > :nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formCompra > :nth-child(3)
{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

#formCompra > :nth-child(3) > *
{
    display: flex;
    flex-direction: column;
}

#formCompraProveedor,
#formCompraPaymentMethod > select,
#formCompraPaymentAmmount > input
{
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;
}

#formCompraPaymentAmmount
{
    width: 52vw;
}

#formCompraPaymentMethod,
#formCompra > :nth-child(2) > *,
#formCompraButton
{
    width: 26vw;
}

#formCompraButton
{
    margin: 0;
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;

    align-self: center;
}

#formCompraButton:hover
{
    background-color: #f2f2f2AA;
}

#formCompraButton:active
{
    background-color: var(--accent);
    color: var(--primary);
}



/* ///////////// */
/* /// MODAL /// */
/* ///////////// */

.modal /* Acts as a backdrop for the modal */
{
    background-color: #121212A0;
}

.modal > div > div
{
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--text);
}



/* ////////////////////////// */
/* /// COMRPA EXCEPCIONAL /// */
/* ////////////////////////// */

#modalCompraExcepcional > div.modal-dialog
{
    max-width: 30vw;
}

#modalCompraExcepcionalHeader,
#modalCompraExcepcionalBody > div > label
{
    color: var(--text);
}

#modalCompraExcepcionalBody
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#modalCompraExcepcionalBody > div:first-child,
#modalCompraExcepcionalBody > div:nth-child(2)
{
    align-self: center;
}

#modalCompraExcepcionalBody > div:nth-child(3)
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#modalCompraExcepcionalBody > div:nth-child(3) > :first-child
{
    align-self: center;
}

#modalCompraExcepcionalBody > div:last-child
{
    align-self: flex-end;
}

#modalCompraExcepcionalBody > div:last-child > button
{
    margin: 0;
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;
}