#appHeader
{
    margin: 0;
    padding: 1vh 1vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#appHeader > div
{
    margin: 0;
    padding: 1vh 1vw;
    width: 25%;
    background-color: var(--luaWhite);
    color: var(--secondary);
    border: 0;
    border-radius: 1vw;
}

#appHeader > div:first-child
{
    background-color: var(--alternative);
    color: white;
    font-weight: bold;
}

thead > tr,
thead > tr > td,
thead > tr > td > h5,
tbody > tr,
tbody > tr > td,
tbody > tr > td > h5
{
    margin: 0;
}

thead > tr > td:first-child,
tbody > tr > td:first-child
{
    /* FECHA */
    /* width: 25%; */
    width: 33%;
}

thead > tr > td:nth-child(2),
tbody > tr > td:nth-child(2)
{
    /* MONTO */
    /* width: 40%; */
    width: 33%;
}

thead > tr > td:last-child,
tbody > tr > td:last-child
{
    /* TIPO */
    /* width: 35%; */
    width: 33%;
}