/* ////////////// */
/* /// || APP /// */
/* ////////////// */

#app
{
    justify-content: space-evenly;
}

#app > div
{   
    margin: 2.5vh 0;
    padding: 2vh 1vw;
    width: 80vw;
    background-color: var(--alternative);
    color: var(--text);
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;

    align-self: center;
}

#app > div > h2
{
    font-size: 3vh;   
    font-weight: 900;
    line-height: normal;
    color: var(--text);
}

#app > div > form > *
{
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;
}

#pages,
#proveedor
{
    width: 22vw;
}

.boton
{
    margin: 0;
    padding: 1vh 1vw;
    border: 0;
    border-radius: 1vw;
    line-height: normal;

    align-self: center;
}

.boton:hover
{
    background-color: #f2f2f2AA;
}

.boton:active
{
    background-color: var(--accent);
    color: var(--primary);
}