/* ////////////// */
/* /// || APP /// */
/* ////////////// */

#extraApps
{
    margin: 0;
    padding: 1vh 1vw;
    /* height: 20vh; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buscador
{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
}

#inputBuscador
{
    margin: 0;
    padding: 1vh 1vw;
    width: 45vw;
    border: 0;
    border-radius: 1vw;

    outline: none;
}

#botonBuscador,
#botonNuevoProducto,
#botonNuevoProveedor
{
    margin: 0;
    padding: 1vh 1vw;
    border-radius: 1vw;
    border: 0;
    background-color: var(--accent);
    color: var(--primary);
}
/* *********************************************** */



/* //////////////////////////////// */
/* /// || MODAL NUEVO PROVEEDOR /// */
/* //////////////////////////////// */

/*
    Dupliqué todo lo de #modalNuevoProducto por si es necesario ajustar este en particular.
*/

#modalNuevoProveedor > div.modal-dialog
{
    max-width: 25vw;
}

#modalNuevoProveedor > div.modal-dialog > div > div > h5
{
    color: var(--bearWhite);
    font-size: 4vh;
}

#formularioModalNuevoProveedor
{
    margin: 0;
    padding: 0;
    
    height: 65vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

#formularioModalNuevoProveedor > div
{
    margin: 0;
    padding: 1vh 2vw;
    /* background-color: red; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formularioModalNuevoProveedor > div,
#formularioModalNuevoProveedor > div > div
{
    margin: 0;
    padding: 0;
    color: var(--bearWhite);
    text-align: center;
}

#formularioModalNuevoProveedor > button,
#formularioModalNuevoProveedor > div > select,
#formularioModalNuevoProveedor > div > input,
#formularioModalNuevoProveedor > div > button,
#formularioModalNuevoProveedor > div > div > input,
#formularioModalNuevoProveedor > div > div > select
{
    margin: 0;
    padding: 1vh 1vw;
    width: 100%;
    border: 0;
    border-radius: 1vw;
    outline: none;
}

#formularioModalNuevoProveedor > button
{
    margin-top: auto;
}
/* *********************************************** */



/* //////////////// */
/* /// || MODAL /// */
/* //////////////// */

.modal /* Acts as a backdrop for the modal */
{
    background-color: #121212A0;
}

.modal > div > div
{
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--primary);
}

.modal-header
{
    height: 10vh;
}

.modal-body
{
    height: 70vh;
}
/* *********************************************** */