/* /////////// */
/* /// NAV /// */
/* /////////// */

#nav
{
    margin: 0;
    padding: 0.25vw;
    gap: 0.25vw;
    height: 80vh;
    /* border: 0.1vh solid var(--primary); */

    background-color: transparent;
    color: var(--text);

    display: flex;
    justify-content: space-evenly;
}

#nav > div
{
    margin: 0;
    padding: 2.5vh 0;
    /* border: 0.1vh solid var(--primary);
    background-color: var(--accent); */
    border-width: 1vh 1vw;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 1vw;
    /* background-color: #f2f2f2F4; */
    background-color: #05c3d1F4;
    color: var(--secondary);
    cursor: pointer;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

#nav > div:hover
{
    background-color: #05c3d1AA;
}

#nav > div:active
{
    background-color: #05c3d111;
}

#nav > div > img
{
    width: auto;
    height: 30vh;
    filter: url(#color-change);
}

#nav > div > p
{
    color: var(--text);
    font-size: 8vh;
    font-weight: bold;
}