/* /////////////////////// */
/* /// || APP PRODUCTO /// */
/* /////////////////////// */

#extraApps
{
    margin: 0;
    padding: 1vh 1vw;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buscador
{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
}

#inputBuscador
{
    margin: 0;
    padding: 1vh 1vw;
    width: 45vw;
    border: 0;
    border-radius: 1vw;

    outline: none;
}

#botonBuscador,
#botonNuevoProducto
{
    margin: 0;
    padding: 1vh 1vw;
    border-radius: 1vw;
    border: 0;
    background-color: var(--accent);
    color: var(--primary);
}
/* *********************************************** */



/* /////////////////////////////// */
/* /// || MODAL NUEVO PRODUCTO /// */
/* /////////////////////////////// */

#modalNuevoProducto > div.modal-dialog
{
    max-width: 60vw;
}

#modalNuevoProducto > div.modal-dialog > div > div > h5
{
    color: var(--bearWhite);
}

#productoModalNuevoProducto
{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

#productoModalNuevoProducto > div
{
    margin: 0;
    padding: 1vh 2vw;
    /* background-color: red; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productoModalNuevoProducto > div:nth-child(3),
#productoModalNuevoProducto > div:nth-child(4),
#productoModalNuevoProducto > div:nth-child(5)
{
    /* background-color: yellow; */

    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2vw;
}

/* #productoModalNuevoProducto > div:nth-child(3)
{
    width: ;
} */

#productoModalNuevoProducto > div,
#productoModalNuevoProducto > div > div
{
    margin: 0;
    padding: 0;
    color: var(--bearWhite);
    text-align: center;
}

#productoModalNuevoProducto > button,
#productoModalNuevoProducto > div > select,
#productoModalNuevoProducto > div > input,
#productoModalNuevoProducto > div > button,
#productoModalNuevoProducto > div > div > input,
#productoModalNuevoProducto > div > div > select
{
    margin: 0;
    padding: 1vh 1vw;
    width: 100%;
    border: 0;
    border-radius: 1vw;
    outline: none;
}
/* *********************************************** */



/* ///////////////////////////// */
/* /// || MODAL EDITOR LINEA /// */
/* ///////////////////////////// */

/*
    Dupliqué todo lo de #modalNuevoProducto por si es necesario ajustar este en particular.
*/

#modalEditorLinea > div.modal-dialog
{
    max-width: 60vw;
}

#modalEditorLinea > div.modal-dialog > div > div > h5
{
    color: var(--bearWhite);
}

#productoModalEditorLinea
{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

#productoModalEditorLinea > div
{
    margin: 0;
    padding: 1vh 2vw;
    /* background-color: red; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productoModalEditorLinea > div:nth-child(3),
#productoModalEditorLinea > div:nth-child(4),
#productoModalEditorLinea > div:nth-child(5)
{
    /* background-color: yellow; */

    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2vw;
}

#productoModalEditorLinea > div,
#productoModalEditorLinea > div > div
{
    margin: 0;
    padding: 0;
    color: var(--bearWhite);
    text-align: center;
}

#productoModalEditorLinea > button,
#productoModalEditorLinea > div > select,
#productoModalEditorLinea > div > input,
#productoModalEditorLinea > div > button,
#productoModalEditorLinea > div > div > input,
#productoModalEditorLinea > div > div > select
{
    margin: 0;
    padding: 1vh 1vw;
    width: 100%;
    border: 0;
    border-radius: 1vw;
    outline: none;
}
/* *********************************************** */


/* ///////////// */
/* /// MODAL /// */
/* ///////////// */

.modal /* Acts as a backdrop for the modal */
{
    background-color: #121212A0;
}

.modal > div > div
{
    border: 0.5vh solid var(--accent);
    border-radius: 1vw;
    background-color: var(--alternative);
    color: var(--primary);
}

.modal-body,
.modal-header
{
    padding: 1vh 1vw;
}

.modal-title
{
    font-weight: bold;
    font-size: 3vh;
}

.modal-photo
{
    border-radius: 1vw;
    max-width: 100%;
    height: auto;
}
/* *********************************************** */



/* ///////////////// */
/* /// APP TABLE /// */
/* ///////////////// */

.container
{
    height: 73vh;
    overflow-y: auto;
}

/* ANCHO TOTAL DISPONIBLE: 95.8vw */

#table > tr > td
{
    width: 4.5vw;
}

#table > tr > td:nth-child(2)   /* NOMBRE */
{
    /* width: 53.3vw; */
    width: 45.3vw;
}

#table > tr > td:nth-child(3),   /* PROVEEDOR */
#table > tr > td:nth-child(4)  /* CATEGORIA */
{
    width: 8vw;
}

#table > tr > td:nth-child(4)   /* STOCK */
{
    width: 6.5vw;
}