#appHeader
{
    margin: 0;
    padding: 1vh 1vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#appHeader > div
{
    margin: 0;
    padding: 1vh 1vw;
    width: 25%;
    background-color: var(--luaWhite);
    color: var(--secondary);
    border: 0;
    border-radius: 1vw;
}

#appHeader > div:first-child
{
    /* #appVolver */
    background-color: var(--alternative);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container
{
    height: 72vh;
}

thead > tr,
thead > tr > td,
thead > tr > td > h5,
tbody > tr,
tbody > tr > td,
tbody > tr > td > h5
{
    margin: 0;
}

thead > tr > td:first-child,
tbody > tr > td:first-child
{
    /* FECHA */
    width: 14%;
}

thead > tr > td:nth-child(2),
tbody > tr > td:nth-child(2)
{
    /* METODO DE PAGO PRINCIPAL */
    width: 20%;
}

thead > tr > td:nth-child(3),
tbody > tr > td:nth-child(3)
{
    /* MONTO PRINCIPAL */
    width: 15%;
}

thead > tr > td:nth-child(4),
tbody > tr > td:nth-child(4)
{
    /* METODO DE PAGO COMPLEMENTARIO */
    width: 20%;
}

thead > tr > td:nth-child(5),
tbody > tr > td:nth-child(5)
{
    /* MONTO COMPLEMENTARIO */
    width: 15%;
}

thead > tr > td:last-child,
tbody > tr > td:last-child
{
    /* TOTAL */
    width: 16%;
}