<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: headBoilerplate(@{\js\caja.js}, @{\css\caja.css})}"></head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class3='actual')}"></header>

    <div id="app">
        <div id="appCajaContainer">
            <div id="appCajaFondos">
                <div th:each="item : ${cuentas}">
                    <div th:text="${item.nombre}"></div>
                    <div>
                        <div>Saldo ACTUAL</div>
                        <div th:text="${item.saldo}"></div>
                    </div>
                    <div>
                        <div>Saldo INICIAL</div>
                        <div th:text="${item.saldo_inicial}"></div>
                    </div>
                    <div>
                        <div>ULTIMA ACTUALIZACION</div>
                        <div th:text="${item.actualizado}"></div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div>GASTO EXCEPCIONAL</div>
                        <div id="appCajaGastoExcepcional">1</div>
                    </div>
                    <div>
                        <div>MÉTODO DE PAGO EXCEPCIONAL</div>
                        <div id="appCajaMetodoPagoExcepcional">1</div>
                    </div>
                    <div>
                        <div>SALDO TOTAL</div>
                        <div id="appCajaSaldoTotal">1</div>
                    </div>
                </div>
                <button id="botonCerrarCaja">CERRAR CAJA DIARIA</button>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/general.html :: footer}"></footer>

    <!-- MODAL GENERAL -->
    <div th:replace="~{fragments/modals.html :: modalCerrarCaja}"></div>
</body>
</html>