<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headBoilerplate"></head>
<body>
    <header th:replace="fragments/headernav.html :: headerNavFull (class3='actual')"></header>

    <div id="app">
        <div id="appCajaContainer">
            <div id="appCajaFondos">
                <div>CAJA EFECTIVO</div>
                <div>CAJA MERCADO PAGO</div>
                <div>CAJA BANCO PROVINCIA</div>
                <div>CAJA BANCO NACIÓN / BBVA FRANCES</div>
            </div>
            <div>
                <div>
                    <div>
                        <div>GASTO EXCEPCIONAL</div>
                        <div id="appCajaGastoExcepcional">1</div>
                    </div>
                    <div>
                        <div>MÉTODO DE PAGO EXCEPCIONAL</div>
                        <div id="appCajaMetodoPagoExcepcional">1</div>
                    </div>
                    <div>
                        <div>SALDO TOTAL</div>
                        <div id="appCajaSaldoTotal">1</div>
                    </div>
                </div>
                <button id="botonCerrarCaja">CERRAR CAJA DIARIA</button>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/general.html :: footer"></footer>

    <!-- MODAL GENERAL -->
    <div th:replace="fragments/modals.html :: modalCerrarCaja"></div>
</body>
</html>

<!-- OLD VERSION OF APPCAJA

    <div id="app">
        <div id="appCajaContainer">
            <div id="appCajaFondos">
                <div>CAJA EFECTIVO</div>
                <div>CAJA MERCADO PAGO</div>
                <div>CAJA BANCO PROVINCIA</div>
                <div>CAJA BANCO NACIÓN / BBVA FRANCES</div>
            </div>
            <div>
                <div id="appCajaContadorBilletes">CONTADOR DE BILLETES</div>
                <div>
                    <div id="appCajaSaldoTotal">SALDO TOTAL</div>
                    <div>
                        <div>
                            <div id="appCajaGastoExcepcional">GASTO EXCEPCIONAL</div>
                            <div id="appCajaMetodoPagoExcepcional">MÉTODO DE PAGO EXCEPCIONAL</div>
                        </div>
                        <div id="appCajaCerrarCaja">CERRAR CAJA DIARIA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 -->