<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/general.html :: headBoilerplate(@{\js\compra_historial.js}, @{\css\compra_historial.css})}"></head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class5='actual')}"></header>

    <div id="app">
        <!-- APP HEADER -->
        <div id="appHeader">
            <!-- VOLVER -->
            <div id="compraHistorialVolver">VOLVER</div>
        </div>

        <!-- TABLA -->
        <div class="container">
            <div class="row">
                <div class="tableContainer">
                    <table class="table">
                        <thead class="table-borderless">
                            <tr class="table-header">
                                <td><h5 class="table-header-text-mini">FECHA</h5></td>
                                <td><h5 class="table-header-text-mini">PROVEEDOR</h5></td>
                                <td><h5 class="table-header-text-mini">METODO DE PAGO</h5></td>
                                <td><h5 class="table-header-text-mini">TOTAL</h5></td>
                            </tr>
                        </thead>
                        <tbody id="table" class="table-borderless" style="border-top: none !important;">
                            <tr th:each="item :${compras}" th:id="${item.id_compra}">
                                <td>
                                    <h5 th:text="${#temporals.format(item.fecha, 'dd-MM-yyyy HH:mm')}"></h5>
                                </td>

                                <td th:if="${item.proveedor}">
                                    <h5 th:text="${item.proveedor.nombre}"></h5>
                                </td>
                                <!-- IF-ELSE = IF-UNLESS -->
                                <td th:unless="${item.proveedor}">
                                    <h5></h5>
                                </td>
                                
                                <td th:if="${item.medio_pago}">
                                    <h5 th:text="${item.medio_pago.nombre}"></h5>
                                </td>
                                <!-- IF-ELSE = IF-UNLESS -->
                                <td th:unless="${item.medio_pago}">
                                    <h5></h5>
                                </td>
                                
                                <td>
                                    <h5 th:text="'&#36; ' + ${#numbers.formatDecimal(item.total, 1, 2) ?: '0.00'}"></h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>
</html>