<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: headBoilerplate}"></head>
<head>
    <script defer th:src="@{compra.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class5='actual')}"></header>
    <div id="app">
        <div id="formCompraContainer">
            <div id="formCompra">
                <h5>REGISTRAR NUEVA COMPRA</h5>

                <div>
                    <label for="formCompraProveedor">PROVEEDOR</label>
                    <select id="formCompraProveedor" name="formCompraProveedor" required>
                        <option value="default" disabled selected>SELECCIONAR PROVEEDOR</option>
                        <option value="1">Proveedor 1</option>
                        <option value="2">Proveedor 2</option>
                        <option value="3">Proveedor 3</option>
                        <option value="4">Proveedor 4</option>
                        <option value="5">Proveedor 5</option>
                    </select>
                </div>

                <div>
                    <div id="formCompraPaymentAmmount">
                        <label for="formCompraPaymentAmmount">&#128178; MONTO ABONADO &#128178;</label>
                        <input min="0" name="formCompraPaymentAmmount" value="0.00" required>
                    </div>

                    <div id="formCompraPaymentMethod">
                        <label for="formCompraPaymentMethod">METODO DE PAGO</label>
                        <select name="formCompraPaymentMethod" required>
                            <option value="default" disabled selected>SELECCIONAR METODO DE PAGO</option>
                            <option th:each="item : ${mediospago}" th:value="${item.nombre}" th:text="${item.nombre}"></option>
                        </select>
                    </div>
                </div>

                <button id="formCompraButton">&#128190; Guardar</button>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>
</html>