<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/general.html :: headBoilerplate(@{\js\cuenta_details.js}, @{\css\cuenta_details.css})}"></head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class3='actual')}"></header>

    <div id="app">
        <!-- APP HEADER -->
        <div id="appHeader">
            <!-- VOLVER -->
            <div id="appVolver">VOLVER</div>
            <!-- CUENTA -->
            <div th:text="'&#128181; ' + ${cuenta.nombre}"></div>
            <!-- SALDO -->
            <div th:text="'Saldo ACTUAL: $ ' + ${cuenta.saldo}"></div>
        </div>

        <!-- TABLA -->
        <div class="container">
            <div class="row">
                <div class="tableContainer">
                    <table class="table">
                        <thead class="table-borderless">
                            <tr class="table-header">
                                <td><h2 class="table-header-text-mini">Fecha</h2></td>
                                <td><h2 class="table-header-text-mini">Monto</h2></td>
                                <td><h2 class="table-header-text-mini">Tipo</h2></td>
                            </tr>
                        </thead>
                        <tbody id="table" class="table-borderless" style="border-top: none !important;">
                            <!-- PLACEHOLDER -->
                            <!-- <tr>
                                <td><h5>FECHA 1</h5></td>
                                <td><h5>MONTO 1</h5></td>
                                <td><h5>TIPO 1</h5></td>
                            </tr>
                            <tr>
                                <td><h5>FECHA 2</h5></td>
                                <td><h5>MONTO 2</h5></td>
                                <td><h5>TIPO 2</h5></td>
                            </tr>
                            <tr>
                                <td><h5>FECHA 2</h5></td>
                                <td><h5>MONTO 2</h5></td>
                                <td><h5>TIPO 2</h5></td>
                            </tr> -->
                            <!-- *********** -->

                            <tr th:each="item :${movimientos}" th:id="${item.id_movimiento}">
                                <!-- <td><h5 th:text="${item.fecha}"></h5></td> -->
                                <td><h5 th:text="${#temporals.format(item.fecha, 'dd-MM-yyyy HH:mm')}"></h5></td>
                                <td><h5 th:text="${item.monto}"></h5></td>
                                <!--td><h5 th:text="${item.tipo}"></h5></td-->
                                <td>
                                    <h5 th:switch="${item.tipo}">
                                        <h5 th:case="'C'">Compra</h5>
                                        <h5 th:case="'V'">Venta</h5>
                                        <h5 th:case="'I'">Ingreso</h5>
                                        <h5 th:case="'E'">Egreso</h5>
                                        <h5 th:case="*">Desconocido</h5>
                                    </h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>
</html>