<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: headBoilerplate(@{\js\importacion.js}, @{\css\importacion.css})}"></head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class4='actual')}"></header>

    <div id="app">
        <!-- FORMULARIO PARA ENVIAR ARCHIVO PDF -->
        <div>
            <h2>IMPORTACIÓN PDF DEL PROVEEDOR</h2>

            <form>
                <input type="file" id="pdfFileInput" accept=".pdf" />

                <label for="pages">Ingrese páginas a tomar:</label>
                <input type="text" id="pages" placeholder="1-15" />
            </form>

            <button class="boton" type="button" onclick="enviarArchivoPDF()">IMPORTAR PDF</button>
        </div>

        <!-- FORMULARIO PARA ENVIAR ARCHIVO CSV -->
        <div>
            <h2>IMPORTACIÓN CSV DEL PROVEEDOR</h2>

            <form>
                <input type="file" id="csvFileInput" accept=".csv" />

                <label for="proveedor">Seleccionar proveedor:</label>
                <select id="proveedor">
                    <option value="0">SELECCIONAR PROVEEDOR</option>
                    <option th:each="item: ${proveedores}" th:value="${item.id_proveedor}" th:text="${item.nombre}"></option>
                </select>
            </form>

            <button class="boton" type="button" onclick="enviarArchivoCSV()">IMPORTAR CSV</button>
        </div>
    </div>
<footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>
</html>