<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/general.html :: headBoilerplate"></head>
<body>
    <header>
        <nav id="headerNav">
            <div class="fixed">PROVEEDORES</div>
            <div class="fixed">COMPRAS</div>
            <div class="fixed">USUARIOS</div>
        </nav>
    </header>
    <nav id="nav">
        <div class="">PRODUCTOS</div>
        <div class="">VENTAS</div>
        <div class="">CAJA</div>
    </nav>
    <footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>