<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUA Petshop</title>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="luapetshop.jpg" type="image/x-icon"> -->
    <!-- Bootstrap -->
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <script defer th:src="@{\js\bootstrap.min.js}"></script>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
    <style th:inline="text">
        body{
            background: url([[@{/img/Imagotipo-2.jpg}]]);
        }
    </style>
    <!-- Script -->
    <script defer th:src="@{script.js}"></script>
</head>
<body>
    <header>
        <nav id="headerNav">
            <div class="fixed">PROVEEDORES</div>
            <div class="fixed">COMPRAS</div>
            <div class="fixed">USUARIOS</div>
        </nav>
    </header>
    <nav id="nav">
        <div class="">PRODUCTOS</div>
        <div class="">VENTAS</div>
        <div class="">CAJA</div>
    </nav>
    <footer>POWERED BY JULY SRL</footer>
</body>
</html>