<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: headBoilerplate}"></head>
<head>
    <!-- CSS ESPECÍFICO -->
    <link rel="stylesheet" th:href="@{\css\index.css}">

    <!-- JS ESPECÍFICO -->
    <script defer th:src="@{\js\index.js}"></script>
</head>
<body>
    <header>
        <nav id="headerNav">
            <div class="fixed">PROVEEDORES</div>
            <div class="fixed">COMPRAS</div>
            <div class="fixed">USUARIOS</div>
        </nav>
    </header>
    <nav id="nav">
        <div id="PRODUCTOS" class="navDiv">
            <img class="navDiv" th:src="@{\img\inventory-2.svg}" alt="PRODUCTOS LOGO">
            <p class="navDiv">PRODUCTOS</p>
        </div>
        <div id="VENTAS" class="navDiv">
            <img class="navDiv" th:src="@{\img\local-mall.svg}" alt="PRODUCTOS LOGO">
            <p class="navDiv">VENTAS</p>
        </div>
        <div id="CAJA" class="navDiv">
            <img class="navDiv" th:src="@{\img\account-balance.svg}" alt="PRODUCTOS LOGO">
            <p class="navDiv">CAJA</p>
        </div>
    </nav>
    <footer th:replace="~{fragments/general.html :: footer}"></footer>
    
    <!-- SVG filter -->
    <svg style="display:none">
        <filter id="color-change">
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 242
                    0 0 0 0 242
                    0 0 0 0 242
                    0 0 0 1 0"
          />
        </filter>
    </svg>
</body>
</html>