<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/general.html :: headBoilerplate}"></head>
<head>
    <!-- CSS ESPECÍFICO -->
    <link rel="stylesheet" th:href="@{\css\producto.css}">

    <!-- JS ESPECÍFICO -->
    <script defer th:src="@{\js\producto.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/headernav.html :: headerNavFull (class1='actual')}"></header>

    <div id="app">
        <!-- APPBAR -->
        <div id="extraApps">
            <!-- BUSCADOR -->
            <div id="buscador">
                <input id="inputBuscador" type="search" name="search" placeholder="Comida para perro...">
                <button id="botonBuscador">BUSCAR</button>
            </div>

            <!-- NUEVO PRODUCTO -->
            <div id="nuevoProducto">
                <button id="botonNuevoProducto">NUEVO PRODUCTO</button>
            </div>
        </div>

        <!-- TABLA -->
        <div class="container">
            <div class="row">
                <div class="tableMargin"></div>
                <div class="tableContainer mb-5">
                    <table class="table table-striped align-middle text-center">
                        <thead class="table-borderless">
                            <tr class="table-header">
                                <td><h2 class="table-header-text-mini"><!--IMAGEN--></h2></td>
                                <td><h2 class="table-header-text-mini">Nombre</h2></td>
                                <td><h2 class="table-header-text-mini">Descripcion</h2></td>
                                <td><h2 class="table-header-text-mini">Precio Compra</h2></td>
                                <td><h2 class="table-header-text-mini">% Rentabilidad</h2></td>
                                <td><h2 class="table-header-text-mini">Ganancia</h2></td>
                                <td><h2 class="table-header-text-mini">Stock</h2></td>
                                <td><h2 class="table-header-text-mini"></h2></td>
                            </tr>
                        </thead>
                        <tbody id="table" class="table-borderless" style="border-top: none !important;">
                            <tr th:each="item :${productos}">
                                <td><h5 class="py-2"><button class="botonFoto">&#128247;</button></h5></td>
                                <td><h5 class="py-2" th:text="${item.nombre}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.descripcion}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.precio_compra}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.rentabilidad}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.ganancia}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.stock}"></h5></td>
                                <td><h5 class="py-2"><button class="botonEditar">&#9998;</button></h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tableMargin"></div>
            </div>
        </div>
    </div>

    
        <!--Pagination-->

        <nav id="pageNavigation" aria-label="Page navigation">
            <ul class="pagination justify-content-center">  
                <li class="page-item" th:classappend="${prev == 0? 'disabled':''}">
                    <!--a class="page-link" th:href="@{/producto(page=${prev})}">Anterior</a-->
                    <a class="fixed page-link" th:href="@{/producto(page=${prev}, nombre=${nombre})}">Anterior</a>
                </li>
                
                <li class="page-item" th:each="page : ${pages}" th:classappend="${current == page? 'actual':''}">
                    <a class="page-link" th:href="@{/producto(page=${page}, nombre=${nombre})}" th:text="${page}"></a>
                </li>
                
                <li class="page-item" th:classappend="${current == last? 'disabled':''}">
                    <a class="fixed page-link" th:href="@{/producto(page=${next}, nombre=${nombre})}">Siguiente</a>
                </li>
            </ul>
        </nav>

    <footer th:replace="~{fragments/general.html :: footer}"></footer>

    <!-- MODAL NUEVO PRODUCTO -->
    <div th:replace="~{fragments/modals.html :: modalNuevoProducto}"></div>

    <!-- MODAL FOTO -->
    <div th:replace="~{fragments/modals.html :: modalFoto}"></div>

    <!-- MODAL EDITOR LINEA -->
    <div th:replace="~{fragments/modals.html :: modalEditorLinea}"></div>
</body>
</html>