<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <title>Productos</title>
  </head>
  
  <body>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 mb-5">
                <table class="table table-striped align-middle text-center">
                    <thead class="table-borderless">
                        <tr class="table-header">
                            <!--IMAGEN-->
                            <td><h2 class="table-header-text-mini">Nombre</h2></td>
                            <td><h2 class="table-header-text-mini">Descripcion</h2></td>
                            <td><h2 class="table-header-text-mini">Precio Compra</h2></td>
                            <td><h2 class="table-header-text-mini">% Rentabilidad</h2></td>
                            <td><h2 class="table-header-text-mini">Ganancia</h2></td>
                            <td><h2 class="table-header-text-mini">Stock</h2></td>
                        </tr>
                    </thead>
    
                    <tbody class="table-borderless" style="border-top: none !important;">
                        <tr th:each="item :${productos}">
                            <td><h5 class="py-2" th:text="${item.nombre}"></h5></td>
                            <td><h5 class="py-2" th:text="${item.descripcion}"></h5></td>
                            <td><h5 class="py-2" th:text="${item.precio_compra}"></h5></td>
                            <td><h5 class="py-2" th:text="${item.rentabilidad}"></h5></td>
                            <td><h5 class="py-2" th:text="${item.ganancia}"></h5></td>
                            <td><h5 class="py-2" th:text="${item.stock}"></h5></td>
                        </tr>
                    </tbody>
                
                </table>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
  </body>
</html>




    



