<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/general.html :: headBoilerplate"></head>
<body>
    <header th:replace="../fragments/headernav.html :: headerNavFull (class4='actual')"></header>
    <div id="app">
        <div id="extraApps">
            <!-- BUSCADOR -->
            <div id="buscador">
                <input id="inputBuscador" type="search" name="search" placeholder="Comida para perro...">
                <button id="botonBuscador">BUSCAR</button>
            </div>
            <!-- EDITOR GENERAL -->
            <div id="editorGeneral">
                <button id="botonEditorGeneral">Editar</button>
            </div>
        </div>
        <!-- TABLA -->
        <div class="container">
            <div class="row">
                <div class="tableMargin"></div>
                <div class="tableContainer mb-5">
                    <table class="table table-striped align-middle text-center">
                        <thead class="table-borderless">
                            <tr class="table-header">
                                <!--IMAGEN-->
                                <td><h2 class="table-header-text-mini">id_producto_proveedor</h2></td>
                                <td><h2 class="table-header-text-mini">nombre_proveedor</h2></td>
                                <td><h2 class="table-header-text-mini">nombre_producto</h2></td>
                                <td><h2 class="table-header-text-mini">precio_compra</h2></td>
                            </tr>
                        </thead>
                        <tbody id="table" class="table-borderless" style="border-top: none !important;">
                            <tr th:each="item :${proveedores}">
                                <td><h5 class="py-2" th:text="${item.id_producto_proveedor}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.proveedor.nombre}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.producto.nombre}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.precio_compra}"></h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tableMargin"></div>
            </div>
        </div>
    </div>
    <footer th:replace="../fragments/general.html :: footer"></footer>

    <!-- MODAL GENERAL -->
    <div th:replace="../fragments/modals.html :: modalGeneral"></div>
</body>
</html>