<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUA Petshop</title>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="luapetshop.jpg" type="image/x-icon"> -->
    <!-- Bootstrap -->
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <script defer th:src="@{\js\bootstrap.min.js}"></script>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
    <!-- Script -->
    <script defer th:src="@{script.js}"></script>
</head>
<body>
    <header>
        <nav id="headerNav">
            <div class="fixed">VOLVER</div>
            <div class="">PRODUCTOS</div>
            <div class="">VENTAS</div>
            <div class="">CAJA</div>
            <div class="actual">PROVEEDORES</div>
            <div class="fixed">COMPRAS</div>
            <div class="fixed">USUARIOS</div>
        </nav>
    </header>

    <!-- APP PROVEEDOR -->

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="tableMargin"></div>
                <div class="tableContainer mb-5">
                    <table class="table table-striped align-middle text-center">
                        <thead class="table-borderless">
                            <tr class="table-header">
                                <!--IMAGEN-->
                                <td><h2 class="table-header-text-mini">id_producto_proveedor</h2></td>
                                <td><h2 class="table-header-text-mini">nombre_proveedor</h2></td>
                                <td><h2 class="table-header-text-mini">nombre_producto</h2></td>
                                <td><h2 class="table-header-text-mini">precio_compra</h2></td>
                            </tr>
                        </thead>
                        <tbody class="table-borderless" style="border-top: none !important;">
                            <tr th:each="item :${proveedores}">
                                <td><h5 class="py-2" th:text="${item.id_producto_proveedor}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.proveedor.nombre}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.producto.nombre}"></h5></td>
                                <td><h5 class="py-2" th:text="${item.precio_compra}"></h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tableMargin"></div>
            </div>
        </div>
    </div>

    <!-- 
    	Atributos de thymeleaf
    
    	id_producto_proveedor
		nombre_proveedor
		nombre_producto
		precio_compra
     -->

    <footer>POWERED BY JULY SRL</footer>
</body>
</html>