<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: headBoilerplate}"></head>
<head>
    <!-- CSS ESPECÍFICO -->
    <link rel="stylesheet" th:href="@{\css\usuario.css}">

    <!-- JS ESPECÍFICO -->
    <script defer th:src="@{\js\usuario.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class6='actual')}"></header>
    <div id="app">APP USUARIO</div>
    <footer th:replace="~{fragments/general.html :: footer}"></footer>
</body>
</html>