<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{style.css}">
    <script defer th:src="@{script.js}"></script>
    <title>LUA Petshop</title>
</head>
<body>
    <header>
        <nav>
            <div class="navDiv">VOLVER</div>
            <div class="navDiv">CUENTAS</div>
            <div class="navDiv">VENTAS</div>
            <div class="navDiv">PRODUCTOS</div>
            <div class="navDiv">PROVEEDORES</div>
            <div class="navDiv">COMPRAS</div>
            <div id="actual" class="navDiv">USUARIOS</div>
        </nav>
    </header>
    <div id="app">APP USUARIOS</div>
    <footer>POWERED BY JULY SRL</footer>
</body>
</html>