<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUA Petshop</title>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{\img\Imagotipo-2.ico}" type="image/x-icon">
    <!-- Bootstrap -->
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <script defer th:src="@{\js\bootstrap.min.js}"></script>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{style.css}">
    <!-- Script -->
    <script defer th:src="@{script.js}"></script>
</head>
<body>
<header>
    <nav id="headerNav">
        <div class="fixed">VOLVER</div>
        <div class="">PRODUCTOS</div>
        <div class="actual">VENTAS</div>
        <div class="">CAJA</div>
        <div class="fixed">PROVEEDORES</div>
        <div class="fixed">COMPRAS</div>
        <div class="fixed">USUARIOS</div>
    </nav>
</header>
<div id="app">APP VENTA
    <div id="extraApps">
        <!-- BUSCADOR -->
        <div id="buscador">
            <input id="inputBuscador" type="search" name="search" placeholder="Comida para perro...">
            <button id="botonBuscador">BUSCAR</button>
        </div>
        <!-- EDITOR GENERAL -->
        <div id="editorGeneral">
            <button id="botonEditorGeneral">Editar</button>
        </div>
    </div>
</div>
<footer>LUA PETSHOP</footer>
</body>
</html>