<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: headBoilerplate}"></head>
<body>
    <header th:replace="~{fragments/headernav.html :: headerNavFull (class2='actual')}"></header>
    <div id="app">
        <div id="appVentaContainer">
            <div>
                <!-- BUSCADOR -->
                <div id="buscador">
                    <input id="inputBuscador" type="search" name="search" placeholder="Comida para perro...">
                    <button id="botonBuscador">BUSCAR</button>
                </div>

                <!-- EDITOR GENERAL -->
                <div id="editorGeneral">
                    <button id="botonEditorGeneral">HISTORIAL</button>
                </div>
            </div>

            <!-- CARRITO COMPRA -->
            <div class="container">
                <div class="row">
                    <div class="tableMargin"></div>
                    <div class="tableContainer mb-5">
                        <table class="table table-striped align-middle text-center">
                            <thead class="table-borderless">
                                <tr class="table-header">
                                    <td><h2 class="table-header-text-mini">PRODUCTO SELECCIONADO</h2></td>
                                    <!-- <td><h2 class="table-header-text-mini">PRECIO UNITARIO</h2></td> -->
                                    <td><h2 class="table-header-text-mini">CANTIDAD</h2></td>
                                    <td><h2 class="table-header-text-mini">PRECIO</h2></td>
                                </tr>
                            </thead>
                            <tbody id="table" class="table-borderless" style="border-top: none !important;">
                                <tr>
                                    <td><h5 class="py-2">a</h5></td>
                                    <!-- <td><h5 class="py-2"></h5>1</td> -->
                                    <td><h5 class="py-2">1</h5></td>
                                    <td><h5 class="py-2">1</h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tableMargin"></div>
                </div>
            </div>

            <div>
                <div>
                    <div>
                        <div>METODO PAGO 1</div>
                        <div id="appVentaMetodoPago1">$$$ METODO PAGO 1</div>
                    </div>
                    <div>
                        <div>METODO PAGO 2</div>
                        <div id="appVentaMetodoPago2">$$$ METODO PAGO 2</div>
                    </div>
                    <div>
                        <div>TOTAL</div>
                        <div id="appVentaTotal">$$$</div>
                    </div>

                </div>
                <div id="appVentaFinalizarCompra" onclick="window.confirm('Estás por finalizar la compra... ¿Estás seguro?')">FINALIZAR COMPRA</div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/general.html :: footer}"></footer>

    <!-- MODAL GENERAL -->
    <div th:replace="~{fragments/modals.html :: modalGeneral}"></div>
</body>
</html>

<!-- BACKUP RESULTADOS BUSCADOR -->
<!-- 
    <div>
        <div id="appVentaResultadosBuscador">RESULTADOS BUSCADOR</div>
    </div>
 -->

 <!-- CSS -->
 <!-- 
    #appVentaContainer > :nth-child(2)
    /* RESULTADOS BUSCADOR */
    {
        margin: 0;
        padding: 1vh 1vw;

        /* Borrar cuando se tenga versión final */
        height: 15vh;
        /* -- */

        background-color: var(--alternative);
    }

    #appVentaResultadosBuscador
    {
        margin: 0;
        padding: 0;

        /* Borrar cuando se tenga versión final */
        height: 100%;
        /* -- */

        background-color: var(--primary);
    }
  -->

<!-- ************************* -->

<!-- BACKUP CARRITO COMPRA -->
<!-- 
    <div>
        <div id="appVentaProductos">PRODUCTOS SELECCIONADOS</div>
        <div id="appVentaCantidades">CANTIDAD</div>
        <div id="appVentaPrecios">PRECIO</div>
    </div>
-->

<!-- CSS -->
<!-- 
    #appVentaContainer > :nth-child(2)
    /* CARRITO DE COMPRA */
    {
        margin: 0;
        padding: 1vh 1vw;

        background-color: var(--alternative);

        display: flex;
        flex: 1;
        gap: 1vw;
    }

    #appVentaContainer > :nth-child(2) > :first-child
    /* #appVentaProductos */
    {
        margin: 0;
        padding: 1vh 1vw;
        background-color: var(--primary);

        flex-grow: 3;
    }

    #appVentaContainer > :nth-child(2) > :nth-child(2)
    /* #appVentaCantidades */
    {
        margin: 0;
        padding: 1vh 1vw;
        background-color: var(--primary);
        
        flex-grow: 1;
    }

    #appVentaContainer > :nth-child(2) > :last-child
    /* #appVentaPrecios */
    {
        margin: 0;
        padding: 1vh 1vw;
        background-color: var(--primary);
        
        flex-grow: 1;
    }
 -->