<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headBoilerplate"></head>
<body>
    <header th:replace="fragments/headernav.html :: headerNavFull (class2='actual')"></header>
    <div id="app">APP VENTA
        <div id="extraApps">
            <!-- BUSCADOR -->
            <div id="buscador">
                <input id="inputBuscador" type="search" name="search" placeholder="Comida para perro...">
                <button id="botonBuscador">BUSCAR</button>
            </div>
            <!-- EDITOR GENERAL -->
            <div id="editorGeneral">
                <button id="botonEditorGeneral">Editar</button>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>

    <!-- MODAL GENERAL -->
    <div th:replace="fragments/modals.html :: modalGeneral"></div>
</body>
</html>